body {
    background-color: rgb(90, 8, 167);
}

.titulo {
    color: white;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.fsNotas {
    background-color: white;
    border: 0.5px solid;
    border-radius: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.notasInput,
.notasCampo,
.notasResultado {
    padding: 10px;
}

.notasCampo textarea {
    resize: none;
}